extends layout

block content
  h1= title
  div(class="container-fluid")
  // - let results=[{colour:"red",cost:77,height :5},{colour:"blue",cost:99,height :7},{colour:"blue",cost:23.2 ,height:5}]
  - let items = results 
    div(class="container-fluid") 
  div(class="row") 
    each item in items  
      - let destination = `dispatch(\"/elephant/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.elephant_type}(#{item.elephant_age_limit}) is #{item.elephant_weight} 
         button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  div(class="row")
    each value,index in results
        div(class="col-sm-2" onclick=`buy(${index})`)  elephant #{value.elephant_type} , cost #{value.elephant_age_limit}, height  #{value.elephant_weight}
  script.
    function buy(index)
    {
      alert(`Your purchased Item ${index+1}`)
    }

 
 