extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let elephantid = toShow._id 
    - let elephant_type = toShow.elephant_type 
    - let elephant_age_limit = toShow.elephant_age_limit 
    - let elephant_weight = toShow.elephant_weight 
    - let actionid = "/resource/elephants/" + elephantid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='elephantAttr mr-3') Elephant ID is: 
        div #{elephantid} 
      div.row 
        div(class='elephantAttr mr-3')  elephant_type is: 
        div #{elephant_type} 
      div.row 
        div(class='elephantAttr mr-3')  elephant_age_limit is: 
        div #{elephant_age_limit} 
      div.row 
        div(class='elephantAttr mr-3') elephant_weight  is: 
        div #{elephant_weight} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the elephant collection 
      window.location.href='/elephant' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/elephant' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 